@page "/add-edit-team/{teamId:long?}"

<link rel="stylesheet" href="css/AddEditTeam.css">

@using Syncfusion.Blazor.DataForm
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using engineering_project_front.Models.Request;
@using engineering_project_front.Models.Responses;
<link href="css/sf-styles.css" rel="stylesheet" />

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">
        @(IsEditing ? "Edytuj zespół" : "Dodaj zespół")
    </h3>

    <!-- Formularz dodawania/edycji zespołu -->
    <EditForm Model="@Team" OnValidSubmit="HandleValidSubmit" class="team-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-grid">
            <!-- Nazwa zespołu -->
            <div class="form-field">
                <SfTextBox Placeholder="Nazwa zespołu" @bind-Value="Team.Name" FloatLabelType="FloatLabelType.Always" Type="InputType.Text"></SfTextBox>
            </div>

            <!-- Kierownik -->
            <div class="form-field">
                <label for="manager">Kierownik:</label>
                <SfDropDownList TValue="long" TItem="UsersResponse" Placeholder="Wybierz kierownika" DataSource="@Managers" @bind-Value="Team.ManagerID">
                    <DropDownListFieldSettings Value="ID" Text="FirstName"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>

            <!-- Przyciski -->
            <div class="form-buttons">
                <SfButton IsPrimary="true" type="submit">
                    @(IsEditing ? "Zaktualizuj zespół" : "Dodaj zespół")
                </SfButton>
                <SfButton CssClass="e-flat" @onclick="Cancel">Anuluj</SfButton>
            </div>
        </div>
    </EditForm>

    <!-- Toast z powiadomieniami -->
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
</div>
