@page "/add-edit-user/{userId:long?}"
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using engineering_project_front.Models.Request
@using engineering_project_front.Models.Responses
@using engineering_project_front.Models.Parameters

<PageTitle>@(IsEditing ? "Edytuj użytkownika" : "Dodaj użytkownika")</PageTitle>

<EditForm Model="@User" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />



    <div class="col-log-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Imię" @bind-Value="User.FirstName" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>
               <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Nazwisko" @bind-Value="User.LastName" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>
               <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Email" @bind-Value="User.Email" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>
                <div>
                    <label for="team">Zespoł:</label>
                    <SfDropDownList TValue="long" TItem="TeamsResponse" Placeholder="Wybierz zespoł" DataSource="@Teams" @bind-Value="User.TeamID">
                   <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                <div>
                    <label for="role">Role:</label>
                    <SfDropDownList TValue="int" TItem="RoleParameters" Placeholder="Wybierz stanowsiko" DataSource="@Roles" @bind-Value="User.Role">
                        <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
              
                <SfButton CssClass="e-flat" IsPrimary="true" type="submit">@(IsEditing ? "Zaktualizuj użytkownika" : "Dodaj użytkownika")</SfButton>
                <SfButton CssClass="e-flat"  @onclick="Cancel">Anuluj</SfButton>
        </div>
    </div>
</div>
    
</EditForm>

<div>
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="500000" ShowCloseButton="true">
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>   
</SfToast>
</div>







