@page "/add-edit-user/{userId:long?}"

<link rel="stylesheet" href="css/AddEditUser.css">

@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using engineering_project_front.Models.Request
@using engineering_project_front.Models.Responses
@using engineering_project_front.Models.Parameters

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">
        @(IsEditing ? "Edytuj użytkownika" : "Dodaj użytkownika")
    </h3>

    <!-- Formularz dodawania/edycji użytkownika -->
    <EditForm Model="@User" OnValidSubmit="HandleValidSubmit" class="user-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-grid">
            <!-- Imię -->
            <div class="form-field">
                <SfTextBox Placeholder="Imię" @bind-Value="User.FirstName" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>

            <!-- Nazwisko -->
            <div class="form-field">
                <SfTextBox Placeholder="Nazwisko" @bind-Value="User.LastName" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>

            <!-- Email -->
            <div class="form-field">
                <SfTextBox Placeholder="Email" @bind-Value="User.Email" FloatLabelType="FloatLabelType.Auto" Type="InputType.Text"></SfTextBox>
            </div>

            <!-- Zespół -->
            <div class="form-field">
                <label for="team">Zespół:</label>
                <SfDropDownList TValue="long" TItem="TeamsResponse" Placeholder="Wybierz zespół" DataSource="@Teams" @bind-Value="User.TeamID">
                    <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>

            <!-- Rola -->
            <div class="form-field">
                <label for="role">Stanowisko:</label>
                <SfDropDownList TValue="int" TItem="RoleParameters" Placeholder="Wybierz stanowisko" DataSource="@Roles" @bind-Value="User.Role">
                    <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>

            <!-- Przyciski -->
            <div class="form-buttons">
                <SfButton CssClass="e-flat" IsPrimary="true" type="submit">
                    @(IsEditing ? "Zaktualizuj użytkownika" : "Dodaj użytkownika")
                </SfButton>
                <SfButton CssClass="e-flat" @onclick="Cancel">Anuluj</SfButton>
            </div>
        </div>
    </EditForm>

    <!-- Toast z powiadomieniami -->
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
</div>
