@page "/availability-scheduler"

<link rel="stylesheet" href="css/AvailabilityScheduler.css">

@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Schedule
@using engineering_project_front.Models.Responses

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Dyspozycja</h3>

    <!-- Harmonogram dostępności -->
    <div class="schedule-container">
        <SfSchedule @ref="ScheduleRef" TValue="AvailabilitiesResponse" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView" AllowDragAndDrop="false" StartHour="5:00" EndHour="23:00">
            <ScheduleWorkHours Highlight="true" Start="5:00" End="23:00"></ScheduleWorkHours>
            <ScheduleTemplates>
                <EditorHeaderTemplate>
                    <div>Edytuj dyspozycje</div>
                </EditorHeaderTemplate>
                <EditorTemplate>
                    @{
                        var Data = (context as AvailabilitiesResponse)!;
                        <table class="custom-event-editor" width="100%" cellpadding="5">
                            <tbody>
                                <tr>
                                    <td class="e-textlabel">Data</td>
                                    <td>
                                        <SfDatePicker @bind-Value="@(Data.Date)" Readonly="true"></SfDatePicker>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">Początek pracy</td>
                                    <td>
                                        <ValidationMessage For="@(() => Data.TimeStart)" />
                                        <SfTimePicker @bind-Value="@(Data.TimeStart)" Min="@minTime" Max="maxTime" ValidateOnInput="true"></SfTimePicker>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="e-textlabel">Koniec pracy</td>
                                    <td>
                                        <ValidationMessage For="@(() => Data.TimeEnd)" />
                                        <SfTimePicker @bind-Value="@(Data.TimeEnd)" Min="minTime" Max="maxTime" ValidateOnInput="true"></SfTimePicker>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </EditorTemplate>
            </ScheduleTemplates>
            <ScheduleEventSettings DataSource="@dataSource">
                <ScheduleField Id="ID">
                    <FieldSubject Name="FullName"></FieldSubject>
                    <FieldIsAllDay Name="Type"></FieldIsAllDay>
                    <FieldStartTime Name="TimeStart"></FieldStartTime>
                    <FieldEndTime Name="TimeEnd"></FieldEndTime>
                </ScheduleField>
            </ScheduleEventSettings>
            <ScheduleEvents TValue="AvailabilitiesResponse" OnCellClick="OnCellClick" OnCellDoubleClick="OnCellClick" OnEventClick="OnEventClick" OnPopupClose="OnPopupClose" EventRendered="OnEventRendered"></ScheduleEvents>
            <ScheduleViews>
                <ScheduleView Option="View.Day"></ScheduleView>
                <ScheduleView Option="View.Week"></ScheduleView>
                <ScheduleView Option="View.WorkWeek"></ScheduleView>
                <ScheduleView Option="View.Month"></ScheduleView>
                <ScheduleView Option="View.Agenda"></ScheduleView>
                <ScheduleView Option="View.MonthAgenda"></ScheduleView>
            </ScheduleViews>
        </SfSchedule>
    </div>

    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="500000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>
