@page "/edit-work"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Notifications

<PageTitle>Edytuj pracę</PageTitle>

<div>
    <SfToast ID="toast_default" @ref="ToastObj" Title="Edycja" Content="@ToastContent" Timeout="5000">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>
</div>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Dzień do edycji</label>
        <SfDatePicker TValue="DateTime?" @ref="@datePickerObj" @bind-Value="@datePicker" Placeholder="Wybierz dzień" ShowClearButton="true" FullScreen="true">
            <DatePickerEvents TValue="DateTime?" OnRenderDayCell="@DisableDate" ValueChange="GetWorkToEdit"></DatePickerEvents>
        </SfDatePicker>
    </div>
</div>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Początek pracy</label>
        <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@workStart" ShowClearButton="true"></SfTimePicker>
    </div>
</div>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Koniec pracy</label>
        <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@workEnd" ShowClearButton="true"></SfTimePicker>
    </div>
</div>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Początek przerwy</label>
        <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@breakStart" ShowClearButton="true"></SfTimePicker>
    </div>
</div>

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Koniec przerwy</label>
        <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@breakEnd" ShowClearButton="true"></SfTimePicker>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
    <SfButton CssClass="e-success" OnClick="EditWorkTimes">Zatwierdź zmiany</SfButton>
</div>