@page "/edit-work"

<link rel="stylesheet" href="css/EditWork.css">

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Notifications

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Edytuj pracę</h3>

    <!-- Toast powiadomień -->
    <SfToast ID="toast_default" @ref="ToastObj" Title="Edycja" Content="@ToastContent" Timeout="5000">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>

    <!-- Formularz edycji pracy -->
    <div class="edit-work-form">
        <!-- Dzień do edycji -->
        <div class="form-field">
            <label class="example-label">Dzień do edycji</label>
            <SfDatePicker TValue="DateTime?" @ref="@datePickerObj" @bind-Value="@datePicker" Readonly="true">
                <DatePickerEvents TValue="DateTime?" OnRenderDayCell="@DisableDate" ValueChange="GetWorkToEdit"></DatePickerEvents>
            </SfDatePicker>
        </div>

        <!-- Początek pracy -->
        <div class="form-field">
            <label class="example-label">Początek pracy</label>
            <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@workStart" ShowClearButton="true" Format="hh:mm:ss" Readonly="disablePickingTime"></SfTimePicker>
        </div>

        <!-- Koniec pracy -->
        <div class="form-field">
            <label class="example-label">Koniec pracy</label>
            <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@workEnd" ShowClearButton="true" Format="hh:mm:ss" Readonly="disablePickingTime"></SfTimePicker>
        </div>

        <!-- Początek przerwy -->
        <div class="form-field">
            <label class="example-label">Początek przerwy</label>
            <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@breakStart" ShowClearButton="true" Format="hh:mm:ss" Readonly="disablePickingTime"></SfTimePicker>
        </div>

        <!-- Koniec przerwy -->
        <div class="form-field">
            <label class="example-label">Koniec przerwy</label>
            <SfTimePicker TValue="DateTime?" FullScreen="true" @bind-value="@breakEnd" ShowClearButton="true" Format="hh:mm:ss" Readonly="disablePickingTime"></SfTimePicker>
        </div>

        <!-- Zatwierdź zmiany -->
        <div class="form-buttons">
            <SfButton CssClass="e-success" OnClick="EditWorkTimes" Disabled ="disablePickingTime">Zatwierdź zmiany</SfButton>
        </div>
    </div>
</div>
