@page "/MyEmployees"

<link rel="stylesheet" href="css/MyEmployees.css">

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using engineering_project_front.Models.Responses;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Lista Pracowników dla zespołu: @TeamName</h3>


   
 <!-- Dialog do wybierania zespołu -->
    <SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsTeamDialogVisible" Header="Wybierz zespół" CssClass="sf-dialog">
        <DialogContent>
            <select @bind="SelectedTeamID" class="form-select select">
                <option value="0" disabled selected>Wybierz zespół</option>
                @foreach (var team in Teams)
                {
                    <option value="@team.ID">@team.Name</option>
                }
            </select>
        </DialogContent>
        <DialogButtons>
            <DialogButton Content="Potwierdź" IsPrimary="true" OnClick="ConfirmTeamSelection" />
            <DialogButton Content="Anuluj" OnClick="CloseTeamDialog" />
        </DialogButtons>
    </SfDialog>

     <SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsEmployeeWorkDialogVisible" Header="Wybierz pracownika oraz date" CssClass="sf-dialog">
        <DialogContent>
            <select @bind="SelectedUserID" class="form-select select">
                <option value="0" disabled selected>Wybierz pracownika</option>
                @foreach (var user in HoursForUsers)
                {
                    <option value="@user.userID">@user.userName @user.userSurname</option>
                }
            </select>
        </DialogContent>
        <SfDatePicker TValue="DateTime" @bind-Value="SelectedWorkDate" Min="@minDate" Max="@maxDate" Placeholder="Wybierz dzień" FloatLabelType="FloatLabelType.Always"></SfDatePicker>
        <DialogButtons>
            <DialogButton Content="Potwierdź" IsPrimary="true" OnClick="ConfirmEmployeeWorkSelection" />
            <DialogButton Content="Anuluj" OnClick="CloseEmployeeWorkDialog" />
        </DialogButtons>
    </SfDialog>


        <div class="control-section">
    <div class="control-wrapper">
        <SfButton IsPrimary="true" CssClass="sf-button" @onclick="OpenTeamDialog">Wybierz Zespół</SfButton>
            <SfButton IsPrimary="true" CssClass="sf-button" @onclick="OpenEmployeeWorkDialog">Czas pracy pracownika</SfButton>
            <SfDatePicker TValue="DateTime" Value="@DataChoose" Placeholder="Wybierz miesiąc oraz rok" Format="MMMM yyyy" Start="CalendarView.Year" Depth="CalendarView.Year" ShowClearButton="true" FullScreen="true">
                <DatePickerEvents TValue="DateTime" ValueChange="OnDateChange"></DatePickerEvents>
            </SfDatePicker>
        </div>
        </div>

   
    <!-- Tabela godzin pracowników -->
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="HoursForUsers" GridLines="GridLine.Both" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" ContextMenuItems="@(new List<ContextMenuItemModel>() { new ContextMenuItemModel { Text = "Zobacz zmiany pracownika", Target = ".e-content", Id = "seeDetails" } })" CssClass="sf-grid">
                <GridEvents ContextMenuItemClicked="OnContextMenuClick"  QueryCellInfo="OnQueryCellInfo" TValue="HoursForUserForMonthResponse"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(HoursForUserForMonthResponse.userName)" HeaderText="Imię" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(HoursForUserForMonthResponse.userSurname)" HeaderText="Nazwisko" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(HoursForUserForMonthResponse.workHoursForMonth)" HeaderText="Planowany czas pracy na miesiąc" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>

    <!-- Toasty z powiadomieniami -->
    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>

