@page "/myShifts"
@page "/myShifts/{UserID:long?}"

<link rel="stylesheet" href="css/MyShifts.css">

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using engineering_project_front.Models.Responses;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using engineering_project_front.Models;

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">
        @(IsManager ? "Zmiany pracownika" : "Moje zmiany")
    </h3>

    <!-- Wybór daty -->
    <div class="control-section">
        <div class="control-wrapper short-datepicker">
            <SfDatePicker TValue="DateTime" Value="@DataChoose" Placeholder="Wybierz miesiąc oraz rok" Format="MMMM yyyy" Start="CalendarView.Year" Depth="CalendarView.Year" ShowClearButton="true" FullScreen="true">
                <DatePickerEvents TValue="DateTime" ValueChange="OnDateChange"></DatePickerEvents>
            </SfDatePicker>
        </div>
        <label><strong>Miesięczny planowany czas pracy :</strong> @PlannedWorkTime</label>
        <label><strong>Miesięczny rzeczywisty czas pracy :</strong> @WorkTime</label>
    </div>

    <!-- Tabela zmian -->
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="UserShiftWorks" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" EnableAdaptiveUI="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn HeaderText="Data" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                               
                                 <span>@data.Date</span>
                             
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Początek planowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeStartShift.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeStartShift</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Koniec planowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeEndShift.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeEndShift</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Początek przepracowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeStartWork.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeStartWork</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Koniec przepracowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeEndWork.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeEndWork</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Początek przerwy" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeStartBreak.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeStartBreak</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Koniec przerwy" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                @if (data.TimeEndBreak.Year == 0001)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@data.TimeEndBreak</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>


    <!-- Toasty z powiadomieniami -->
    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>
