@page "/myShifts"
@page "/myShifts/{EncryptedUserID}"

<link rel="stylesheet" href="css/MyShifts.css">

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using engineering_project_front.Models.Responses;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using engineering_project_front.Models;

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">
        @(IsManager ? $"Zmiany pracownika - {UserToCheck.FirstName} {UserToCheck.LastName}" : "Moje zmiany")
    </h3>

    <!-- Wybór daty -->
    <div class="control-section column-layout">
        <div class="work-time-info">
            <label><strong>Zmiana na dziś:</strong> @TodayShift</label>
            <label><strong>Zmiana na jutro:</strong> @TomorrowShift</label>
            <label><strong>Miesięczny planowany czas pracy:</strong> @PlannedWorkTimeHours h @PlannedWorkTimeMinutes min</label>
            <label><strong>Miesięczny rzeczywisty czas pracy:</strong> @WorkTimeHours h @WorkTimeMinutes min </label>
        </div>
        <div class="control-wrapper short-datepicker">
            <SfDatePicker TValue="DateTime" Value="@DataChoose" Placeholder="Wybierz miesiąc oraz rok" Format="MMMM yyyy" Start="CalendarView.Year" Depth="CalendarView.Year" ShowClearButton="false" FullScreen="true">
                <DatePickerEvents TValue="DateTime" ValueChange="OnDateChange"></DatePickerEvents>
            </SfDatePicker>
        </div>
    </div>


    <!-- Tabela zmian -->
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="UserShiftWorks" GridLines="GridLine.Both" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" EnableAdaptiveUI="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn HeaderText="Data" MinWidth="80" Width="100" MaxWidth="150">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                if (data != null)
                                {
                                    <span>@data.Date.ToString("dd.MM.yyyy")</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Początek planowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                if (data != null)
                                {
                                    <span>@(data.TimeStartShift.Year == 1 ? "-" : data.TimeStartShift.ToString("HH:mm"))</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Koniec planowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                if (data != null)
                                {
                                    <span>@(data.TimeEndShift.Year == 1 ? "-" : data.TimeEndShift.ToString("HH:mm"))</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Początek przepracowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                if (data != null)
                                {
                                    <span>@(data.TimeStartWork.Year == 1 ? "-" : data.TimeStartWork.ToString("HH:mm"))</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Koniec przepracowanej zmiany" MinWidth="120" Width="150" MaxWidth="200">
                        <Template>
                            @{
                                var data = context as ShiftWork;
                                if (data != null)
                                {
                                    <span>@(data.TimeEndWork.Year == 1 ? "-" : data.TimeEndWork.ToString("HH:mm"))</span>
                                }
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>

            </SfGrid>
        </div>
    </div>


    <!-- Toasty z powiadomieniami -->
    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>
