@page "/my-account"

<link rel="stylesheet" href="css/Options.css">

@using Syncfusion.Blazor.Buttons

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Moje konto</h3>

    <!-- Informacje o użytkowniku -->
    <div class="account-info">
        <div class="info-item"><strong>Twoje imię:</strong> @firstName</div>
        <div class="info-item"><strong>Twoje nazwisko:</strong> @lastName</div>
        <div class="info-item"><strong>Twój email:</strong> @email</div>
        <div class="info-item"><strong>Nazwa twojego zespołu:</strong> @team</div>
        <div class="info-item"><strong>Twój kierownik:</strong> @manager</div>
        <div class="info-item"><strong>Twoja rola:</strong> @role</div>
    </div>

    <!-- Przycisk zmiany hasła -->
    <div class="button-container">
        <SfButton OnClick="onChangePasswordClicked">Zmień hasło</SfButton>
    </div>
</div>
