@page "/reset-password/{code}"

@layout NotLoggedLayout

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Reset hasła</h3>

    <!-- Formularz resetowania hasła -->
    <div class="reset-password-form">
        <!-- Pole email -->
        <div class="form-field">
            <SfTextBox Placeholder="Email" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@email" Type="InputType.Email"></SfTextBox>
        </div>

        <!-- Pole hasło -->
        <div class="form-field">
            <SfTextBox Placeholder="Hasło" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@password" Type="InputType.Password"></SfTextBox>
        </div>

        <!-- Pole potwierdzenia hasła -->
        <div class="form-field">
            <SfTextBox Placeholder="Potwierdź hasło" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@confirmPassword" Type="InputType.Password"></SfTextBox>
        </div>

        <!-- Przycisk resetowania hasła -->
        <div class="form-buttons">
            <SfButton IsPrimary="true" OnClick="OnConfirmChangeClicked">Zresetuj hasło</SfButton>
        </div>
    </div>
</div>
