@page "/reset-password"
<link rel="stylesheet" href="css/ResetPassword.css">

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Zmień hasło</h3>

    <!-- Formularz zmiany hasła -->
    <div class="reset-password-form">


        <!-- Pole stare hasło -->
        <div class="form-field">
            <SfTextBox Placeholder="Stare hasło"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="@oldPassword"
                       Type="@(showPasswords ? Syncfusion.Blazor.Inputs.InputType.Text : Syncfusion.Blazor.Inputs.InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Pole nowe hasło -->
        <div class="form-field">
            <SfTextBox Placeholder="Nowe hasło"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="@password"
                       Type="@(showPasswords ? Syncfusion.Blazor.Inputs.InputType.Text : Syncfusion.Blazor.Inputs.InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Pole potwierdzenia hasła -->
        <div class="form-field">
            <SfTextBox Placeholder="Potwierdź hasło"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="@confirmPassword"
                       Type="@(showPasswords ? Syncfusion.Blazor.Inputs.InputType.Text : Syncfusion.Blazor.Inputs.InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Checkbox do pokazania/ukrycia haseł -->
        <div>
            <input type="checkbox" id="showPasswords" @bind="showPasswords" />
            <label for="showPasswords">Pokaż hasła</label>
        </div>

        <!-- Przycisk zmiany hasła -->
        <div class="form-buttons">
            <SfButton IsPrimary="true" OnClick="OnConfirmChangeClicked">Zmień hasło</SfButton>
        </div>
    </div>
</div>
