@page "/reset-password/{code}"
<link rel="stylesheet" href="css/ResetPasswordWithCode.css">

@layout NotLoggedLayout

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Reset hasła</h3>

    <!-- Formularz resetowania hasła -->
    <div class="reset-password-form">
        <!-- Pole email -->
        <div class="form-field">
            <SfTextBox Placeholder="Email" FloatLabelType="@FloatLabelType.Always" @bind-Value="@email" Type="InputType.Email"></SfTextBox>
        </div>

        <!-- Pole hasło -->
        <div class="form-field">
            <SfTextBox Placeholder="Hasło"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="@password"
                       Type="@(showPasswords ? InputType.Text : InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Pole potwierdzenia hasła -->
        <div class="form-field">
            <SfTextBox Placeholder="Potwierdź hasło"
                       FloatLabelType="@FloatLabelType.Always"
                       @bind-Value="@confirmPassword"
                       Type="@(showPasswords ? InputType.Text : InputType.Password)">
            </SfTextBox>
        </div>

        <!-- Checkbox do pokazania/ukrycia haseł -->
        <div class="form-field">
            <input type="checkbox" id="showPasswords" @bind="showPasswords" />
            <label for="showPasswords">Pokaż hasła</label>
        </div>

        <!-- Przycisk resetowania hasła -->
        <div class="form-buttons">
            <SfButton IsPrimary="true" OnClick="OnConfirmChangeClicked">Zresetuj hasło</SfButton>
        </div>

        <div>
            <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="500000" ShowCloseButton="true" CssClass="sf-toast">
                <ToastPosition X="Right" Y="Bottom"></ToastPosition>
            </SfToast>
        </div>
    </div>
</div>