@page "/reset-password/{code}"

@layout NotLoggedLayout

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

<PageTitle>Reset hasła</PageTitle>

<div class="col-log-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Email" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@email" Type="InputType.Email"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Hasło" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@password" Type="InputType.Password"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Potwierdź hasło" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@confirmPassword" Type="InputType.Password"></SfTextBox>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                <SfButton IsPrimary="true" OnClick="OnConfirmChangeClicked">Zresetuj hasło</SfButton>
            </div>
        </div>
    </div>
</div>