@page "/Schedule/{ParamID}"

<link rel="stylesheet" href="css/Schedule.css">

@using engineering_project_front.Models
@using engineering_project_front.Models.Responses
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Calendars

<div class="container">
    <!-- Nagłówek strony -->
    <h3 class="header-text">Grafik</h3>

    <!-- Informacje o harmonogramie -->
    <div class="schedule-info">
        <!-- Ilość godzin w jednej linii -->
        <div class="info-row">
            <label class="total-hours"><strong>Aktualna ilość godzin:</strong> @TotalHours</label>
            <label><strong>Ilość godzin do przepracowania:</strong></label>
            @if (isEditingHours)
            {
                <input type="number" @bind="DailySchedule.HoursAmount" class="hours-input" />
                <SfButton CssClass="e-flat" OnClick="SaveHoursAsync">Zapisz</SfButton>
                <SfButton CssClass="e-flat" OnClick="CancelEditHours">Anuluj</SfButton>
            }
            else
            {
                <label>@DailySchedule.HoursAmount</label>
                <SfButton CssClass="e-flat" OnClick="EnableEditHours" Disabled="@(Editable == false)">Edytuj</SfButton>
            }           
        </div>

        <!-- Status harmonogramu -->
        <div class="info-row">
            <label><strong>Status:</strong>  @(DailySchedule.Status == 0 ? "Otwarty" : "Zamknięty") </label>
            <SfButton CssClass="e-flat" OnClick="OpenAddShift" Disabled="@(Editable == false)">Dodaj zmiane</SfButton>
            <SfButton CssClass="e-flat" OnClick="ShowDeleteConfirmation" Disabled="@(Editable == false)">Usuń grafik</SfButton>
        </div>
    </div>

    <!-- Harmonogram -->
    <div class="schedule-container">
        <SfSchedule @ref="@ScheduleRef" TValue=ShiftAppointment Height="700px" Width="100%" EnableAutoRowHeight="true" MinDate="CurrentDate" MaxDate="CurrentDate" CurrentView="View.TimelineDay" @bind-SelectedDate="CurrentDate" AllowResizing="true" Readonly="true">
            <ScheduleTimeScale Interval="@IntervalInMinutes" SlotCount="4"></ScheduleTimeScale>
            <ScheduleGroup Resources="@Resources"></ScheduleGroup>
            <ScheduleResources>
                <ScheduleResource TItem="EmployeeResource" TValue="long" DataSource="@EmployeeResources" Field="EmployeeID" Title="Pracownicy" Name="Employees" TextField="Name" IdField="Id" ColorField="Color" AllowMultiple="true">
                </ScheduleResource>
            </ScheduleResources>
            <ScheduleViews>
                <ScheduleView Option="View.TimelineDay" StartHour="@StartTime" EndHour="@EndTime"></ScheduleView>
            </ScheduleViews>
            <ScheduleEventSettings AllowAdding="false" AllowEditing="false" AllowEditFollowingEvents="false" AllowDeleting="false" DataSource="@ShiftAppointments"></ScheduleEventSettings>
        </SfSchedule>

        <!-- Menu kontekstowe -->
        <SfContextMenu TValue="MenuItem" Target=".e-schedule">
            <MenuItems>
                <MenuItem Text="Szczegóły" Id="Details"></MenuItem>
            </MenuItems>
            <MenuEvents TValue="MenuItem" OnOpen="OnOpen" ItemSelected="OnItemSelected"></MenuEvents>
        </SfContextMenu>
    </div>

    <!-- Dialog zmiany -->
    <SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsShiftDialogVisible" Header="Wybierz zespół">
        <DialogContent>
            <label><strong>@(ShiftToEdit.IsEditing ? "Edytuj zmianę" : "Dodaj zmianę")</strong></label>
            <div class="dialog-timepickers">
                <SfTimePicker TValue="DateTime" @bind-Value="@Start"></SfTimePicker>
                <SfTimePicker TValue="DateTime" @bind-Value="@End"></SfTimePicker>
            </div>
        </DialogContent>
        <DialogButtons>
            @if (ShiftToEdit.IsEditing)
            {
                <DialogButton Content="Zapisz" IsPrimary="true" OnClick="SaveShiftAsync" />
                <DialogButton Content="Usuń zmianę" OnClick="DeleteShiftAsync" />
            }
            else
            {
                <DialogButton Content="Dodaj" IsPrimary="true" OnClick="AddShiftAsync" />
            }
            <DialogButton Content="Anuluj" OnClick="CancelEditShift" />
        </DialogButtons>
    </SfDialog>

    <SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsAddShiftToEmployeeWithoutAvaDialogVisible" Header="Wybierz zespół">
        <DialogContent>
            <label><strong>"Dodaj zmianę"</strong></label>
            <div class="dialog-timepickers">
                <SfTimePicker TValue="DateTime" @bind-Value="@Start"></SfTimePicker>
                <SfTimePicker TValue="DateTime" @bind-Value="@End"></SfTimePicker>
            </div>
            <select @bind="SelectedEmployeeID" class="form-select select">
                <option value="0" disabled selected>Wybierz pracownika</option>
                @foreach (var user in Employees)
                {
                    <option value="@user.ID">@user.FirstName @user.LastName</option>
                }
            </select>
        </DialogContent>
        <DialogButtons>          
            <DialogButton Content="Zapisz" IsPrimary="true" OnClick="AddShiftIfNoAvailabilitieAsync" />
            <DialogButton Content="Anuluj" OnClick="CancelAddShift" />
        </DialogButtons>
    </SfDialog>


    <SfDialog IsModal="true" Width="300px" ShowCloseIcon="true" Visible="@IsDeleteDialogVisible"
              Header="Potwierdzenie usunięcia" Content="Czy na pewno chcesz usunąć grafik na ten dzień?">
        <DialogButtons>
            <DialogButton Content="Usuń" IsPrimary="true" OnClick="ConfirmDelete" />
            <DialogButton Content="Anuluj" OnClick="CloseDeleteDialog" />
        </DialogButtons>
    </SfDialog>

    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>

</div>

