@page "/ScheduleMonth"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using engineering_project_front.Models;
@using engineering_project_front.Models.Responses;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns


<SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsTeamDialogVisible" Header="Wybierz zespół">
    <DialogContent>
        <select @bind="SelectedTeamID" class="form-select">
            <option value="0" disabled selected>Wybierz zespół</option>
            @foreach (var team in Teams)
            {
                <option value="@team.ID">@team.Name</option>
            }
        </select>
    </DialogContent>
    <DialogButtons>
        <DialogButton Content="Potwierdź" IsPrimary="true" OnClick="ConfirmTeamSelection" />
        <DialogButton Content="Anuluj" OnClick="CloseTeamDialog" />
    </DialogButtons>
</SfDialog>

<SfButton IsPrimary="true" @onclick="OpenTeamDialog">Wybierz Zespół</SfButton>

<h3>ScheduleMonth</h3>
<SfButton IsPrimary="true" @onclick="AddSchedule">Stwórz grafik</SfButton>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="Hours" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" EnableAdaptiveUI="true" ContextMenuItems="@(new List<ContextMenuItemModel>() { new ContextMenuItemModel { Text = "Zobacz detale", Target = ".e-content", Id = "seeDetails" } })">              
                <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="HoursForDayResponse"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(HoursForDayResponse.DailyScheduleID)" HeaderText="Id" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(HoursForDayResponse.Date)" HeaderText="Data" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(HoursForDayResponse.WorkHours)" HeaderText="Aktualna ilość godzin" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(HoursForDayResponse.ToDoHours)" HeaderText="Ilość godzin do wyrobienia" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

