@page "/Schedule/{ParamID}"

@using engineering_project_front.Models
@using engineering_project_front.Models.Responses
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Calendars



<PageTitle>Grafik</PageTitle>

<label>Ilość godzin do wyrobienia: </label>
@if (isEditingHours)
{
    <input type="number" @bind="DailySchedule.HoursAmount" />
    <SfButton OnClick="SaveHoursAsync">Zapisz</SfButton>
    <SfButton OnClick="CancelEditHours">Anuluj</SfButton>
}
else
{
    <label>@DailySchedule.HoursAmount</label>
    <SfButton OnClick="EnableEditHours">Edytuj</SfButton>
}
<br />

<label>Status: @DailySchedule.Status </label>
<SfButton OnClick="ToggleStatus">
    @(DailySchedule.Status == 0 ? "Udostępnij" : "Schowaj")
</SfButton>
<br />

<label>Aktualna ilość godzin: @TotalHours</label>
<br />


<div>
  <SfSchedule @ref="@ScheduleRef" TValue=ShiftAppointment Height="650px" EnableAutoRowHeight="true" MinDate="CurrentDate" MaxDate="CurrentDate" CurrentView="View.TimelineDay" @bind-SelectedDate="CurrentDate" AllowResizing="true" Readonly="true"  >
    <ScheduleTimeScale Interval="@IntervalInMinutes" SlotCount="4"></ScheduleTimeScale>
    <ScheduleGroup Resources="@Resources"></ScheduleGroup>
    <ScheduleResources>
        <ScheduleResource TItem="EmployeeResource" TValue="long" DataSource="@EmployeeResources" Field="EmployeeID" Title="Pracownicy" Name="Employees" TextField="Name" IdField="Id" ColorField="Color" AllowMultiple="true">
        </ScheduleResource>
    </ScheduleResources>
    <ScheduleViews>
        <ScheduleView Option="View.TimelineDay" StartHour="@StartTime" EndHour="@EndTime"></ScheduleView>
    </ScheduleViews>
    <ScheduleEventSettings AllowAdding="false" AllowEditing="false" AllowEditFollowingEvents="false" AllowDeleting="false" DataSource="@ShiftAppointments"></ScheduleEventSettings>
</SfSchedule>
    <!-- ContextMenu -->
    <SfContextMenu TValue="MenuItem" Target=".e-schedule">
        <MenuItems>
            <MenuItem Text="Szczegóły" Id="Details"></MenuItem>
        </MenuItems>
        <MenuEvents TValue="MenuItem" OnOpen="OnOpen" ItemSelected="OnItemSelected"></MenuEvents>
    </SfContextMenu>
</div>


<SfDialog IsModal="true" Width="400px" ShowCloseIcon="true" Visible="@IsShiftDialogVisible" Header="Wybierz zespół">
    <DialogContent>
        <label>@(ShiftToEdit.IsEditing ? "Edytuj zmianę" : "Dodaj zmianę")</label>
        <SfTimePicker TValue="DateTime" @bind-Value="@Start"></SfTimePicker>
        <SfTimePicker TValue="DateTime" @bind-Value="@End"></SfTimePicker>
    </DialogContent>
    <DialogButtons>
        @if (ShiftToEdit.IsEditing)
        {
            <DialogButton Content="Zapisz" IsPrimary="true" OnClick="SaveShiftAsync" />
            <DialogButton Content="Usuń zmianę" OnClick="DeleteShiftAsync" />
        }
        else
        {
            <DialogButton Content="Dodaj" IsPrimary="true" OnClick="AddShiftAsync" />
        }
        <DialogButton Content="Anuluj" OnClick="CancelEditShift" />
    </DialogButtons>
</SfDialog>



 
    
