@page "/TeamsList"



<link rel="stylesheet" href="css/TeamsList.css">

@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons
@using engineering_project_front.Models;
@using engineering_project_front.Models.Responses;



<!-- Nagłówek tabeli -->



<div class="container">
    <h3 class="header-text">Lista zespołów</h3>
    <!-- Sekcja wyszukiwania i dodawania zespołów -->
    <div class="control-section">
        <div class="control-wrapper">
            <input @bind="SearchTerm" placeholder="Wyszukaj zespół..." class="form-input" />
            <SfButton IsPrimary="true" CssClass="sf-button" @onclick="FilterTeams">Wyszukaj</SfButton>
            <SfButton IsPrimary="true" CssClass="sf-button" @onclick="AddTeam">Dodaj zespół</SfButton>
        </div>
    </div>

   
    
    <!-- Tabela zespołów -->
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="FilteredTeams" GridLines="GridLine.Both" Height="400" AllowFiltering="true"  AllowPaging="true" AllowSorting="true" ContextMenuItems="@(new List<ContextMenuItemModel>() { new ContextMenuItemModel { Text = "Szczegóły zespołu", Target = ".e-content", Id = "seeDetails" } })" CssClass="sf-grid">
                <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="TeamsResponse"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(TeamsResponse.Name)" HeaderText="Nazwa zespołu" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(TeamsResponse.ManagerName)" HeaderText="Kierownik" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>

    <!-- Tosty z powiadomieniami -->
    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>