@page "/TeamsList"


@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using engineering_project_front.Models;

<PageTitle>Team List</PageTitle>

<input @bind="SearchTerm" placeholder="Search by manager name, or team name..." />
<button @onclick="FilterTeams">Wyszukaj</button>
<button @onclick="AddTeam">Dodaj zespoł</button>

@* Initialize the DataGrid component for users *@
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
             <SfGrid DataSource="FilteredTeams" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" EnableAdaptiveUI="true" ContextMenuItems="@(new List<ContextMenuItemModel>(){new ContextMenuItemModel {Text = "Zobacz detale", Target=".e-content",Id="seeDetails"}})">
                <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="TeamsResponse"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(TeamsResponse.ID)" HeaderText="ID" MinWidth="80" Width="100" MaxWidth="150"></GridColumn>
                    <GridColumn Field="@nameof(TeamsResponse.Name)" HeaderText="Name" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(TeamsResponse.ManagerName)" HeaderText="Manager Name" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
              </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>