@page "/TeamDetails/{ParamID}"


<link rel="stylesheet" href="css/TeamDetails.css">

@using engineering_project_front.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups

<div class="container">

    <!-- Dane zespołu -->
        <h3 class="header-text">Dane zespołu</h3>
        <div class="team-details">
            <label>Nazwa zespołu: @Team.Name</label>
            <label>Kierownik: @Team.ManagerName</label>
        </div>
        <!-- Przyciski akcji -->
        <div class="button-container">
            <SfButton IsPrimary="true" @onclick="EditTeam">Edytuj zespół</SfButton>
            <SfButton  CssClass="e-flat" @onclick="ShowDeleteConfirmation">Usuń zespół</SfButton>
        </div>
    </div>

    <!-- Toast z powiadomieniami -->
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>

    <!-- Dialog potwierdzenia usunięcia -->
    <SfDialog IsModal="true" Width="300px" ShowCloseIcon="true" Visible="@IsDeleteDialogVisible"
              Header="Potwierdzenie usunięcia" Content="Czy na pewno chcesz usunąć ten zespół?">
        <DialogButtons>
            <DialogButton Content="Usuń" IsPrimary="true" OnClick="ConfirmDelete" />
            <DialogButton Content="Anuluj" OnClick="CloseDeleteDialog" />
        </DialogButtons>
    </SfDialog>