@page "/UserDetails/{ParamID}"

@using engineering_project_front.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups

<div class="user-details-card">
    <h3>Dane użytkownika</h3>
    <label>@User.FirstName</label>
    <label>@User.LastName</label>
    <label>@User.Email</label>
    <label>@User.TeamName</label>
    <label>@User.RoleName</label>
    <div class="button-container">
        <SfButton IsPrimary="true" @onclick="EditUser">Edytuj użytkownika</SfButton>
        <SfButton IsPrimary="true" @onclick="ShowDeleteConfirmation">Usuń użytkownika</SfButton>
    </div>
</div>

<div>
    <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
</div>

<SfDialog IsModal="true" Width="300px" ShowCloseIcon="true" Visible="@IsDeleteDialogVisible"
          Header="Potwierdzenie usunięcia" Content="Czy na pewno chcesz usunąć tego użytkownika?">
    <DialogButtons>
        <DialogButton Content="Usuń" IsPrimary="true" OnClick="ConfirmDelete" />
        <DialogButton Content="Anuluj" OnClick="CloseDeleteDialog" />
    </DialogButtons>
</SfDialog>
