@page "/UsersList"


@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using global::engineering_project_front.Models;
@using engineering_project_front.Models.Responses;

<PageTitle>Użytkownicy</PageTitle>
<!-- Nagłówek tabeli -->
<h3 class="header-text">Lista użytkowników</h3>

<div class="container">
    <!-- Sekcja wyszukiwania i dodawania zespołów -->
    <div class="control-section">
        <div class="control-wrapper">
            <input @bind="SearchTerm" placeholder="Wyszukaj użytkowników..." class="form-input" />
            <SfButton IsPrimary="true" CssClass="sf-button" @onclick="FilterUsers">Wyszukaj</SfButton>
            <SfButton IsPrimary="true" CssClass="sf-button" @onclick="AddUser">Dodaj użytkownika</SfButton>
        </div>
    </div>


    @* Initialize the DataGrid component for users *@
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="FilteredUsers" Height="400" AllowFiltering="true" AllowResizing="true" AllowPaging="true" AllowSorting="true" EnableAdaptiveUI="true" ContextMenuItems="@(new List<ContextMenuItemModel>(){new ContextMenuItemModel {Text = "Zobacz detale", Target=".e-content",Id="seeDetails"}})">
                <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="UsersResponse"></GridEvents>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="10" PageSizes="@(new string[] { "10", "20", "50", "All" })"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(UsersResponse.FirstName)" HeaderText="Imię" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(UsersResponse.LastName)" HeaderText="Nazwisko" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(UsersResponse.Email)" HeaderText="Email" MinWidth="150" Width="200" MaxWidth="300"></GridColumn>
                    <GridColumn Field="@nameof(UsersResponse.TeamName)" HeaderText="Nazwa zespołu" MinWidth="120" Width="150" MaxWidth="200"></GridColumn>
                    <GridColumn Field="@nameof(UsersResponse.RoleName)" HeaderText="Pozycja" MinWidth="100" Width="150" MaxWidth="200"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>

    <div>
        <SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="500000" ShowCloseButton="true" CssClass="sf-toast">
            <ToastPosition X="Right" Y="Bottom"></ToastPosition>
        </SfToast>
    </div>
</div>