@page "/UserDetails/{ParamID}"


<link rel="stylesheet" href="css/UserDetails.css">

@using engineering_project_front.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups

<div class="container">
    <!-- Karta szczegółów użytkownika -->
    <!-- Karta szczegółów użytkownika -->
    <h3 class="header-text">Szczegóły użytkownika</h3>
    <div class="user-details">
        <label>Imię: @User.FirstName</label>
        <label>Nazwisko: @User.LastName</label>
        <label>Email: @User.Email</label>
        <label>Zespół: @User.TeamName</label>
        <label>Rola: @User.RoleName</label>
    </div>
    <div class="button-container">
        <SfButton IsPrimary="true" @onclick="EditUser">Edytuj Profil</SfButton>
        <SfButton CssClass="secondary" @onclick="ShowDeleteConfirmation">Usuń użytkownika</SfButton>
    </div>
</div>

<!-- Toast z powiadomieniami -->
<SfToast @ref="Toast" Title="@Title" Content="@Message" Timeout="5000" ShowCloseButton="true">
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

<!-- Dialog potwierdzenia usunięcia -->
<SfDialog IsModal="true" Width="300px" ShowCloseIcon="true" Visible="@IsDeleteDialogVisible"
          Header="Potwierdzenie Usunięcia" Content="Czy na pewno chcesz usunąć użytkownika? Tej akcji nie można cofnąć.">
    <DialogButtons>
        <DialogButton Content="Usuń" IsPrimary="true" OnClick="ConfirmDelete" />
        <DialogButton Content="Anuluj" OnClick="CloseDeleteDialog" />
    </DialogButtons>
</SfDialog>
