@page "/UserDetails/{ParamID}"

@using engineering_project_front.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<button @onclick="EditUser">Edytuj użytkownika</button>
<button @onclick="DeleteUser">Usuń użytkownika</button>

<h3>Dane użytkownika</h3>
<br />
<label>@User.FirstName</label>
<br />
<label>@User.LastName</label>
<br />
<label>@User.Email</label>
<br />
<label>@User.TeamName</label>
<br />
<label>@User.Role</label>
<br />

      
